[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
certifi = ">=2024.07.04"

[dev-packages]
pylint = "*"
pytest = "*"
autopep8 = "*"
pycodestyle = "*"
rope = "*"
pytest-cov = "*"
coveralls = "*"

[requires]
python_version = "3.9"
